<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bside.cuokkamap.dao.PlaceDAO">
    <!-- 장소 등록  -->
    <insert id="savePlaceInfo">
        insert  into place(place_info, user_num)
        values  (#{place_info}, #{user_num})
    </insert>
    <!-- 필터 등록 -->
    <insert id='insertFilterList'>
        INSERT 	place_filter(place_num, filter_type)
        VALUES
        <foreach collection="filterList" item="item" separator=",">
            (#{place_num}, #{item})
        </foreach>
    </insert>

    <!-- 검색 기능 -->
    <select id='getPlaceNum' resultType='int'>
        SELECT  place_num
        FROM  	place
        WHERE   user_num =#{param1}
        ORDER 	BY place_num DESC
            LIMIT 	1
    </select>

    <select id="selectPlaceByPlaceNum" resultType="com.bside.cuokkamap.vo.PlaceVO">
        select  place_num, place_info
        from    place where place_num = #{param1}
    </select>
    <!--
    <select id="selectPlaceByKeyword" resultType="com.bside.cuokkamap.vo.PlaceVO">
        select  place_num, place_info
        from    place where place_info = #{param1}
    </select>

    <select id="selectPlaceByFilter" resultType="com.bside.cuokkamap.vo.PlaceVO">
        select  user_num, login_id, signup_date, email, role
        from    user where login_id = #{param1}
    </select>
    -->

    <!-- 수정 기능 -->

    <!-- 삭제 기능 -->

</mapper>